<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center; height: 600px;">
  <!--<h1 [appPulse]="'600'">testing</h1>-->
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
</div>

<div style="text-align: center;">

  <div style="height: 300px;">
    <div
      animMouseEnter
         [color]="'rgb(32, 123, 54)'"
         [inTiming]="700"
         [outTiming]="200"
         style="width: 100%; height: 400px; background-color: red; margin-bottom: 100px;">
      <h5 style="z-index: 10; position: relative;">Hello world</h5>
      <button animMouseClick [clickColor]="'brown'" style="z-index: 10;">Click me me</button>
    </div>

    <button animMouseClick [inTiming]="700" style="height: 80px; width: 150px;">Click me</button>
    <button animMouseClick [clickColor]="'purple'" [inTiming]="800" style="height: 30px;">Click Me too</button>
    <div style="height: 100px;"></div>
  </div>

</div>







