<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-in-from-top inputFromTop="Hello hello hello"></app-in-from-top>
  <!--<h1 appSwing>Swing Kings</h1>-->

  <h1 class="test-skew">App tada people</h1>

  <!--<img rotateAtClick width="300" alt="Angular Logo" src="assets/j-icon.jpg">-->
  <h1 appShakeAtHover>Hello World</h1>
  <app-in-from-top inputFromTop="Hello 2nd hello"></app-in-from-top>

  <h1 appJello>Jello Jello</h1>
</div>

<a href="#" style="text-decoration: none; color: red;">Hello</a>





