<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center; height: 600px;">
  <!--<h1 [appPulse]="'600'">testing</h1>-->
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
  <p>Trust trust trust trust trust trust</p>
</div>

<div style="text-align: center;">
  <div style="height: 300px">
    <div animMouseEnter style="width: 40%; height: 400px; background-color: red;"></div>
  </div>
  <div style="width: 40%; height: 100px; background-color: blue; transform: translateZ(100px);"></div>
</div>







